.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: .1rem solid #a7a7a73c;
    border-radius: .5rem;
    box-shadow: .1rem .1rem .4rem #0000009c;
    background-color: #0646634a;
}

.title {
    color: #FFD369;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.description {
    color: #ffff;
}