.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.title {
  color: #FFD369;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.form {
  border: .1rem solid #a7a7a73c;
  border-radius: .5rem;
  box-shadow: .1rem .1rem .4rem #0000009c;
  background-color: #06466324;
  margin-bottom: 1rem;
  padding: 1rem;
  gap: .5rem;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.label {
  color: #fff;
}

.input {
  outline: none;
  color: #fff;
  background-color: #06466324;
  border: .1rem solid #bfbfbf63;
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  max-height: 10rem;
  min-width: 100%;
}

.textArea {
  outline: none;
  color: #fff;
  background-color: #06466324;
  border: .1rem solid #bfbfbf63;
  border-radius: .5rem;
  padding: .5rem;
  margin-bottom: 1.3rem;
  height: 6rem;
  max-height: 10rem;
  min-width: 100%;
}

.buttonsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.button {
  border: none;
  font-size: .9rem;
  background-color: #0646637d;
  padding: .75rem 3rem;
  border-radius: .5rem;
  box-shadow: .1rem .1rem .2rem #0000006b;
  color: #FFD369;
  font-weight: bold;
  transition: .4s;
} .button:hover {
  background-color: #ba8234;
  color: #000;
}

.buttonWpp {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: .5rem;
  background-color: #0646637d;
  color: #FFD369;
  box-shadow: .1rem .1rem .2rem #0000006b;
  font-weight: bold;
  border: none;
  border-radius: .5rem;
  padding: .55rem 1rem;
  transition: .4s;
} .buttonWpp:hover {
  background-color: #ba8234;
  color: #000;
}

.imageWpp {
  width: 1.2rem;
}

.confirmContainer {
  position: absolute;
  top: 7%;
  transition: .4s;
}

@media (max-width: 760px) {
  .title {
    text-align: center;
    margin-top: 0rem;
  }
  .form {
    width: 100%;
  }
  .buttonsDiv {
    gap: 1rem;
  }
}