.container {
  height: 64%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contentRepos {
    margin-top: 1rem;
    border: .1rem solid #a7a7a73c;
    border-radius: .5rem;
    box-shadow: .1rem .1rem .4rem #0000009c;
    background-color: #06466324;
    height: 40%;
    overflow: auto;
    padding: 1rem;
}

.repos {
    border: .1rem solid #a7a7a73c;
    border-radius: .5rem;
    margin-bottom: .4rem;
    padding: .4rem;
}  

.contentCommit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border: .1rem solid #a7a7a73c;
    border-radius: .5rem;
    box-shadow: .1rem .1rem .4rem #0000009c;
    background-color: #06466324;
    padding: 1rem;
}

.textCommits  {
    font-size: .9rem;
    text-align: center;
    color: #FFD369;
}

.text {
    font-size: .9rem;
    color: #ffff;
    padding-bottom: 1rem;
}