.container {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.titleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: #FFD369;
    padding: 1rem;
    font-size: 4rem;
}

.buttonsContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-top: 2rem;
}

.links {
    cursor: pointer;
    z-index: 2;
    box-shadow: .1rem .1rem .4rem #0000009c;
    background-color: #06466331;
    text-decoration: none;
    color: #FFD369;
    font-size: 1.2rem;
    border: .1rem solid #ffffff3a;
    border-radius: .5rem;
    padding: 1rem;
    transition: .4s;
} .links:hover {
    background-color: #ecb4658f;
    color: #000;
}

.imageContent {
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    align-items: center;
    gap: 2rem;
}

.tecsContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.label {
    color: #FFD369;
}

.tech {
    color: #ffff;
    margin-top: 1rem;
}

.image {
    position: relative;
    top: -10%;
    width: 60%;
    z-index: 1;
}

.description {
    color: #ffff;
}


@media (max-width: 760px) {
    .container {
        padding: 0 .5rem;
    }
    .title {
        color: #FFD369;
        padding: 1rem 0;
        font-size: 3rem;
    }
    .buttonsContent {
        gap: 2rem;
        padding-top: 1.5rem;
    }
    .imageContent {
        flex-direction: column;
        justify-content: space-around;
        padding: 0rem 1rem;
        align-items: center;
        gap: 0;
    }
    .tecsContent {
        gap: 1rem;
        padding: 0;
    }
    .image {
        position: relative;
        top: -10%;
        width: 100%;
        z-index: 1;
    }
}