.card {
  text-decoration: none;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: .5rem;
  border: .1rem solid #a7a7a73c;
  box-shadow: .1rem .1rem .4rem #0000009c;
  background-color: #06466324;
  transition: .4s;
} .card:hover {
  background-color: #ecb4658f;
  color: #000;
  box-shadow: .2rem .2rem .5rem #000000ba;
}

.title  {
  margin-bottom: .5rem;
  font-size: .9rem;
  color: #FFD369;
  text-shadow: .1rem .1rem .15rem #00000098;
}

.description {
  color: #fff;
  font-size: .85rem;
  text-shadow: .1rem .1rem .15rem #00000081;
}

@media (max-width: 760px) {
  .card {
    min-height: 3rem;
    justify-content: space-between;
  }
}