.card {
  text-decoration: none;
  min-width: 23%;
  min-height: 11rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: .5rem;
  border: .1rem solid #a7a7a73c;
  box-shadow: .1rem .1rem .4rem #0000009c;
  background-color: #06466324;
  overflow: hidden;
  transition: .4s;
}

.title  {
  position: relative;
  top: 5.5rem;
  font-size: .9rem;
  color: #FFD369;
  text-shadow: .1rem .1rem .15rem #000;
}

.description {
  position: relative;
  top: 5.5rem;
  color: #d3d3d3;
  font-size: .85rem;
  text-shadow: .1rem .1rem .15rem #000;
}