.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #0646637d;
    border-radius: .5rem;
    box-shadow: .1rem .1rem .2rem #0000006b;
}

.title {
  color: #e8a548;
}

.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #0646637d;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: .1rem .1rem .2rem #0000006b;
    color: #e8a548;
    width: 100%;
    transition: .4s;
  } .link:hover {
    background-color: #ba8234;
    color: #000;
  }
