.container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: .1rem solid #d0cece3c;
    border-radius: .5rem;
    box-shadow: .1rem .1rem .4rem #000000a7;
    background-color: #06466324;
    margin-bottom: 1rem;
    padding: 1rem;
    gap: .5rem;
    text-decoration: none;
}


.title  {
    color: #FFD369;
}