@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  min-width: 980px;
  height: 100vh;
  padding: 2.5rem;
  background: linear-gradient(170deg, #04293A 20%, #010101f9 70%);
  animation: gradientAnimation 10s linear infinite;
  background-size: 150% 150%
}

.container {
  height: 100%;
  display: flex;
  min-height: 550px;
  background-color:#041c329a;
  border-radius: 1rem;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 450px;
  padding: 1rem;
  gap: 1rem;
}