.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  overflow: auto;
}

.section {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.titleSection {
  color: #ffff;
  font-weight: bold;
  font-style: italic;
  text-shadow: .1rem .1rem .2rem #000;
}